/*-----------------|
|      Footer      |
|-----------------*/

footer{
  background-color: #464646;
  color: #fff;
  padding: 10px 0;
}

footer li{
  list-style-type: none;
  display: inline;
  padding: 0 10px;
  float: left;
}

footer a{
  color: #fff;
}



/*
|    Planquer la partie autre dans le formulaire    |
*/


.choixAutreHide{
  display: none;
}
